$body-bg-color: #fff; // колір фону
$text-color-light: #9cb5f9; // колір тексту на світлому фоні
$text-color-dark: #fff; // колір тексту на темному фоні
$dark-bg-color: #9cb5f9; // темний фон
$heading-color: #6478fd; // колір заголовків в світлих секціях

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.section {
    height: 100vh;
    background-size: cover;
    background-position: right center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: $text-color-light;
    text-align: center;
    position: relative;

    .content {
        z-index: 0;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 20px;
        color: $heading-color; // Колір заголовків в усіх секціях
    }

    p {
        font-size: 1.2em;
        margin: 0 auto;
        max-width: 800px; // Максимальна ширина тексту
        color: $text-color-light; // Колір тексту в усіх секціях
    }

    &:first-child {
        background: linear-gradient(to bottom, #6478fd, #A6BEFF); // Градієнт для першої секції
        h2, p {
            color: $text-color-dark; // Заголовок і текст у першій темній секції
        }
    }

    &:not(:first-child) {
        &.section-dark {
            background: $dark-bg-color;
            h2, p {
                color: $text-color-dark; // Заголовок і текст у інших темних секціях
            }
        }

        &.section-light {
            background: $body-bg-color;
            h2, p {
                color: $text-color-light; // Заголовок і текст у світлих секціях
            }
        }
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .text-container {
        flex: 1;
        padding-right: 20px;
    }


    .image-container img {
        border-radius: 50%;
        max-width: 300px;
        height: auto;
    }
    
}

