$body-bg-color: #fff; // колір фону
$text-color-light: #000; // колір тексту на світлому фоні
$text-color-dark: #fff; // колір тексту на темному фоні
$dark-bg-color: #0b486b; // темний фон
$heading-color: #333; // колір заголовків

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.section {
    height: 100vh;
    background-size: cover;
    background-position: right center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: $text-color-light; // колір тексту на світлому фоні
    text-align: center;
    position: relative;

    .content {
        z-index: 1; /* зміщення вперед від затемнення */
    }

    h2 {
        font-size: 2em;
        margin-bottom: 20px;
        color: $heading-color; // колір заголовків
    }

    p {
        font-size: 1.2em;
        margin: 0 auto; /* центрування тексту */
        max-width: 800px; /* максимальна ширина тексту */
    }

    &:not(.section-dark) {
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.5); /* напівпрозорий білий фон */
        }
    }
}

.section-dark {
    color: $text-color-dark; // колір тексту на темному фоні
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($dark-bg-color, 0.8); /* темний фон */
    }
}
